<footer className="footer">
    <p className="footer__title">Khalisah</p>
    <div className="footer__social">
      <a href="mailto:khalshf@gmail.com" className="footer__icon">
        <i className="bx bxs-envelope"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/khalisah-faroukh/"
        className="footer__icon"
      >
        <i className="bx bxl-linkedin"></i>
      </a>
      <a href="https://github.com/" className="footer__icon">
        <i className="bx bxl-github"></i>
      </a>
    </div>
    <p>&#169; 2024 handcrafted by Khalisah</p>
  </footer>
