<section className="about section" id="about">
    <h2 className="section-title">About</h2>

    <div className="about__container bd-container bd-grid">
      <div className="about__img">
        <img src={aboutImg} alt="about" />
      </div>
      <div>
        <h2 className="about__subtitle">People call me Khal</h2>
        <p className="about__text">
          My name is Khalisah and I am currently a Software Engineer at
          ST Engineering Unmanned and Integrated Systems.
          <br />
          <br />
          Previously, I graduated from Nanyang Technological University (NTU)
          with a Bachelor's degree in Computer Science, followed by several
          professional internship experiences as a web developer. In my free
          time, I enjoy crocheting, jogging, and touring Singapore with my motorcycle.
        </p>
      </div>
    </div>
</section>
