<!--====== ABOUT PART START ======-->


<section id="landing" class="about-area pt-80 pb-130">
    <div class="container intro">
        <div class="row align-items-center">
          <div class="col-md-7 col-sm-12 intro-content">
              <div>
                  <h6 class="intro-position align-middle">A Software Engineer enthusiast.</h6>
                  <h1 class="intro-name mt-10">Khalisah</h1>
                  <div class="col-md-4 col-sm-12 intro-redirect">
                    <a href="#about">About Me</a><hr>
                    <a href="#projects">Projects</a><hr>
                    <a href="#footer">Contact</a>
                  </div>

              </div> <!-- about content -->
          </div>
            <div class="col-md-5 col-sm-12" style="padding-right:0">
                <div class="about-image">
                  <img src="assets/images/about/itme.jpg" alt="It's ME!" class="about-image float-right">
  
                </div> <!-- about image -->
            </div>
            
        </div> <!-- row -->
    </div> <!-- container -->
  </section>
  
  <!--====== ABOUT PART ENDS ======-->


  <app-aboutme></app-aboutme>

  <app-footer></app-footer>